<header class="home_header">
    <div class="home_header_contenedor_log_inp_text">
      <section class="home_header_logo_input">
        <div class="home_header_logo">
          <img
            class="home_header_logo_img"
            src="/images/logo-mercado-liebre.svg"
            alt="logo"
          />
        </div>
        <article class="home_header_buscador">
          <div class="home_header_buscador_input--contenedor">
            <input
              class="home_header_buscador_input"
              type="text"
              placeholder="Buscar Productos, Marcas"
            />
          </div>
          <div class="home_header_buscador_lupa--contenedor">
            <span class="home_header_buscador_lupa">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </div>
        </article>
      </section>
      <section class="home_header_icono_text">
        <article class="home_header_icono_mano">
          <span>
            <i class="fa-solid fa-hand-holding-dollar"></i>
          </span>
          <p>Compra en cuotas y sin tarjeta de credito</p>
        </article>
      </section>
    </div>

    <section class="home_header_lista">
      <ul class="home_header_lista_ul1">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tienda Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class="home_header_lista_ul2">
        <li>
          <a href="/users/register">Crea tu cuenta</a>
          <span>
            <i class="fa-solid fa-address-card"></i>
          </span>
        </li>
        <li>
          <a href="/users/login">Ingresa</a>
          <span>
            <i class="fa-solid fa-right-to-bracket"></i>
          </span>
        </li>
        <li>
          <a href="#">Mis Compras</a>
          <span>
            <i class="fa-solid fa-basket-shopping"></i>
          </span>
        </li>
      </ul>
    </section>
    <section class="home_header_icono_hamburguesa">
      <article class="home_header_icono_hamburguesa_menu">
        <span>
          <i class="fa-solid fa-bars"></i>
        </span>
      </article>
    </section>
  </header>