<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo-mercado-liebre.svg" />
    <link rel="stylesheet" href="/stylesheets/general.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/7ad2cc9ddb.js"
      crossorigin="anonymous"
    ></script>
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
    </header>
    <main class="register_main">
      <section class="register_main_conteiner">
          <article class="register_main_titulo_icono1">
              <div class="register_main_logo">
                  <img class="home_header_logo_img" src="/images/logo-mercado-liebre.svg" alt=""></div>
              <div class="register_main_icono">
                  <a class="register_main_conteiner--home" href="/"><i class="fa-solid fa-house"></i> Home</a>
              </div>
          </article>
          <article class="register_main_titulo_icono2">
              <div class="register_main_titulo">
                  <h1 class="register_main_conteiner--titulo">Ingresa</h1>
              </div>
          </article>
          
          <form action="./productos/create" class="register_main_conteiner--form">
              <div class="register_main_form--caja">
                  <label class="register_main_form--label" for="usuario">Nombre de usuario:</label>
                  <input class="register_main_form--input" type="text" id="usuario" name="usuario"  minlength="5" maxlength="20" required title="Letras y números. Tamaño mínimo: 5. Tamaño máximo: 20" pattern="[A-Za-z0-9]{5,20}"/>
                  <!--<small class="register_main_form--error">El nombre de usuario es obligatorio</small>-->
              </div>
              <div class="register_main_form--caja">
                <label class="register_main_form--label" for="contrasenia">Contrasenia:</label>
                <input class="register_main_form--input" type="password" id="password" name="password" minlength="5" maxlength="20" title="Tamaño mínimo: 5. Tamaño máximo: 20" required pattern="[A-Za-z0-9]{5,20}"/>
                <!--<small class="register_main_form--error">La contrasenia es obligatoria</small>-->
            </div>
            <div class="register_main_form--button">
              <button  class="register_main_form--borrar" type="reset">Borrar</button>
              <button  class="register_main_form--enviar" type="submit">Entrar</button>
          </div>
            </main>
    <footer></footer>
  </body>
  </html>