@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./adaptativo.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #39b54a;
  --fuente: "Roboto";
  --cuerposTexto: 12px;
  --titulares: 24px;
  --precios: 18px;
  --descuentos: 16px;
  --descripciones: 16px;
}

body {
  font-family: var(--fuente);
}

.home_header {
  width: 100%;
  background-color: var(--amarillo);
}

.home_header_logo{
  display: flex;
  justify-content: center;
}


.home_header_logo img {
  width: 150px;
  height: 150px;
  align-items: center;
}

.home_header_buscador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_header_buscador_input {
  width: 220px;
  height: 30px;
  border-radius: 5px;
  align-items: center;
  margin-left: 2px;
}

.home_header_icono_text {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.home_header_icono_mano {
  font-size: 12px;
  display: flex;
  flex-direction: row;
}

.home_header_lista {
  display: none;
  height: auto;
  justify-content: center;
  margin-top: 2px;
}


.home_header_lista_ul1{
  flex-wrap: wrap;
  margin-right: 1rem;
}

.home_header_lista_ul2{
  flex-wrap: wrap;
}

.home_header_lista li {
  list-style: none;
  margin-top: 1px;
}

.home_header_lista a {
  text-decoration: none;
  color: #000;
}


.home_header_icono_hamburguesa {
  margin-top: 2em;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}



.home_header_icono_hamburguesa_menu span{
  display: flex;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  background-color: var(--celeste);
  align-items: center;
  justify-content: center;
}

.fa-bars {
  display: flex;
  color: var(--grisClaro);
  font-size: 24px;
}



.banner-home {
  width: 100%;
  height: 150px;
}




.home.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}


.home_main_articulo {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.home_main_articulo_caja_contenedora {
border: solid 1px #ebebeb;
padding: 15px;
}

.fa-truck-fast {
  color: var(--verde);
  border: solid 1px var(--verde);
  padding: 5px;
  border-radius: 50%;
  font-size: 1.5em;
}

h4 {
  display: none;
}

.home_main_articulo_caja_imagen {
  display: flex;
  padding: 5px;
}

.home_main_imagen {
  width: 90%;
  height: 200px;
}


h3 {
  font-size: var(--titulares);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_main_precio {
  font-size: var(--precios);
}

.home_main_oferta {
  font-size: var(--descuentos);
}

.home_footer {
  background: yellow;
  margin-top: 2em;
  width: 100%;
  padding: 5px;
  flex-direction: row;
}

.home_footer span {
  font-size: var(--cuerposTexto);
  color: var(--celeste);
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.home_footer h3 {
  color: var(--grisOscuro);
  justify-content: center;
  align-items: center;
}

.home_footer p {
  color: var(--grisOscuro);
  justify-content: center;
  align-items: center;
}

.home_footer_section {
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}
