<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #39b54a;
  --fuente: "Roboto";
  --cuerposTexto: 12px;
  --titulares: 24px;
  --precios: 18px;
  --descuentos: 16px;
  --descripciones: 16px;
}

body {
  font-family: var(--fuente);
}

.home_header {
  background-color: var(--amarillo);
  width: 100%;
  height: 400px;
}

.home_header_logo_input {
  display: block;
  margin-left: 5px;
}

.home_header_logo {
  display: inline-block;
  margin-top: -2em;
}

.home_header_logo img {
  width: 50%;
  height: 200px;
  margin-left: 2em;
  margin-bottom: -3em;
}

.home_header_buscador {
  display: inline-block;
  margin-left: 1em;
  margin-top: -3em;
}

.home_header_buscador_input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

.home_header_icono_text {
  display: flex;
  padding: 5px;
  margin-left: 2em;
  margin-top: 1em;
}

.home_header_icono_text .home_header_icono_mano {
  display: flex;
  padding: 5px;
}

.home_header_lista {
  margin-left: 1em;
}

.home_header_lista li {
  list-style: none;
}

.home_header_lista a {
  text-decoration: none;
  color: #000;
}

.home_header_lista {
=======
.home_main{
>>>>>>> css-modularizado 

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_main_section_visita, .home_main_section_oferta {
  width: 90%;
}


.home_main_articulo {
  gap: 10px;
  height: auto;
} 

.home_main_articulo_caja_contenedora h4 {
    opacity: 0.0;
    width: 100%;
    overflow: hidden;
    transition: 1s; 
}

.home_main_articulo_caja_contenedora:hover h4 {
  opacity: 1;
}


.home_main_articulo:hover, .home_main_articulo_oferta:hover {
  box-shadow: 5px 10px #888888;
  transition: 2s;
}

.home_main_articulo_precio {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}


.home_main_articulo_caja_contenedora {
border: solid 1px #ebebeb;
padding: 15px;
}



 .home_main_articulo_caja_contenedora span {
display: flex;
position: relative;
}

.fa-truck-fast {
  color: var(--verde);
  border: solid 1px var(--verde);
  padding: 5px;
  border-radius: 50%;
  font-size: 1.5em;
  display: block;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    position: absolute;
    right: -10px;
    top: -35px;
    
}

.fa-truck-fast:hover{
  transform: rotate(360deg);
  transition: 5s;
}

.home_main_articulo_caja_imagen {
  display: flex;
  padding: 5px;
}

.home_main_imagen {
  width: 100%;
  height: 200px;
}


.home_main_precio {
  font-size: var(--precios);
  width: 30%;
  font-weight: 600;
}

.home_main_oferta {
  font-size: var(--descuentos);
  width: 70%;
  color: var(--verde);
}




/*TABLET*/
@media (min-width: 768px) {

.home_header_contenedor_log_inp_text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 15px;
  padding-left: 14px;
}

.home_header_logo_input{
  justify-content: flex-start;
  padding: 0%;
  gap: 5%;
}


.home_header_logo {
  width: 50%
}


.home_header_buscador_input--contenedor{
  width: 50%;
}

.home_header_buscador_input{
  width: 185px;
  height: 25px;
  font-size: 12px;
}

.home_header_buscador_lupa--contenedor {
  right: 17px;
  height: 25px;
  border: solid 1px #000;
}

.home_header_icono_text{
  width: 30%;
}

.home_header_icono_mano  {
  width: 100%;
  font-size: 11px;
  align-self: center;
}


.fa-magnifying-glass {
  font-size: 1em;
  margin-top: 3px;
  margin-left: 4px;
}



    .home_header_lista {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        padding: 10px;
        margin-top: 1rem;
      }

      .home_header_lista_ul1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
      }

      .home_header_lista_ul2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 10px;
}

      .home_header_lista a {
        font-size: var(--descuentos);
      }

      .home_header_icono_hamburguesa {
        display: none;
      }

      .home_main_imagen_banner{
        border-bottom: solid 1px #000;
      }

      .banner-home {
        height: 250px;
        
      }

      .home_main {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content: center;
        align-content: center;
      }
      
        .home_main_section_visita {
          width: 90%;
          display:flex;
          flex-direction:row;
          flex-wrap:wrap;
          gap: 15px;
        }

        .home_main_section_oferta {
          width: 90%;
          height: 50%;
          display:flex;
          flex-direction:row;
          flex-wrap:wrap;
          gap: 15px;
        }

        .home_main_articulo {
          width: 45%;
        }

        .home_main_articulo_oferta {
width: 45%
        }

      
      .home_main_imagen {
        height: 400px;
      }
      .home_main_articulo_caja_imagen {
        display: flex;
        justify-content: center;
      }
    
      

      .home_main_articulo{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
        border: solid 1px var(--grisOscuro);
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 5px;
      }
      .home_main_articulo_oferta{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
        border: solid 1px var(--grisOscuro);
        margin-bottom: 10px;
        border-radius: 5px;
      }

      .home_main_articulo_caja_contenedora h4 {
        display: flex;
        font-size: 25px;
        color: #000;
      }
    

      h3 {
        font-size: 30px;
        color: var(--grisOscuro);
      }

      
      .home_footer_parrafo {
        font-size: 25px;
      }

      
      .home_footer_parrafo_copyright{
        margin-top: 20px;
        width: 100%;
        align-self: flex-start;
        color: var(--grisOscuro);
      }
      
}

/*ESCRITORIO*/
@media (min-width:1024px) {
  
  .home_header_logo {
    width: 80%;
    margin-right: 15px;

  }
  

  
  .home_header_buscador_lupa--contenedor {
    right: -30px;
  }
  
  .home_header_icono_text{
    width: 35%;
  }
  
  .home_header_icono_mano  {
    font-size: 12px;
  }
  
  
.home_main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  align-content: center;
}


  .home_main_section_visita {
    height: 50%;
    justify-content:center;
    gap: 15px;
  }

  .home_main_section_oferta {
    height: 50%;
    justify-content:center;
    gap: 15px;
  }

  .home_main_articulo {
    width: 23%;
    height: 50%;
  }

  .home_main_articulo_oferta {
width: 23%;
height: 50%;
  }


.home_main_imagen {
  height: 80%;
}


  
  .home_main_articulo_caja_contenedora h4 {
    display: flex;
    font-size: 25px;
    color: #000;
  }

  .home_main h3 {
    font-size: 30px;
  }

  .home_main_section_oferta h3{
    font-size: 30px;
  }

  .home_footer{
    padding: 3px;
  }


  .home_footer h3 {
    font-size: 25px;
  }

  .home_footer_parrafo {
    text-align: center;
    color: var(--grisOscuro);
    font-size: 15px;
  }

  .home_footer_section {
    display:flex;
    flex-direction: row;
    gap: 10px;
  }

  .home_footer_section_article {
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    justify-content: center;
    align-content: center;
  }


  .home_footer_parrafo_copyright{
    margin-top: 20px;
    width: 100%;
    align-self: flex-start;
    color: var(--grisOscuro);
  }

  .home_header_icono_hamburguesa {
    display: none;
  }

}
