<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <section class="logo-input">
            <article class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo" />
            </article>
            <article class="buscador">
                <input type="text" placeholder="Buscar Productos" />
            </article>
        </section>
        <section class="icono-text">
            <article class="icono-mano">
                <img class="mano-imagen" src="/images/ahorrar-dinero.png" alt="icono-mano" />
            </article>
            <article class="compra-icono">
                <p>Compra en cuotas y sin tarjeta de credito</p>
            </article>
        </section>
        <section class="menu-hamburguesa">
            <div class="respmenu">
                <div class="icono-hamburgesa">
                    <input class="input-icono" type="checkbox"><img class="img-hamburguesa"
                        src="/images/hamburger_121832.png" alt"menu hamburger">
                    <nav>
                        <ul>
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Tiendas Oficiales</a></li>
                            <li><a href="#">Vender</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                        <br>
                        <ul>
                            <li><a href="#">Crear Cuenta</a></li>
                            <li><a href="#">Ingresa</a></li>
                            <li><a href="#">Mis Compras</a></li>
                        </ul>
                    </nav>
                </div>
        </section>
        <section>
            <img class="banner-home" src="/images/img-home-banner.jpg" alt="banner-home">
        </section>
    </header>
    <main>
        <section>
            <h3>Basado en su ultima visita</h3>
            <article>
                <div><img class="cafetera-imagen" src="/images/img-cafetera-moulinex.jpg" alt="cafetera"></div>
                <p>$6.770
                    <br>
                    40% OFF
                    <br>
                </p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <div><img class="cafetera-imagen" src="/images/img-macbook-pro-2019.jpg" alt="cafetera"></div>
                <p>$230.000
                    <br>
                    20% off
                    <br>
                </p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <div><img class="cafetera-imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera"></div>
                <p>$70.500
                    <br>
                    10% off
                    <br>
                </p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <div><img class="cafetera-imagen" src="/images/img-tv-samsung-smart.jpg" alt="cafetera"></div>
                <p>$23.200
                    <br>
                    5% off
                    <br>
                </p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
        <br><br>
        <section>
            <h3>Sección de Ofertas</h3>
            <article>
                <div><img class="cafetera-imagen" src="/images/img-cafetera-moulinex.jpg" alt="cafetera"></div>
                <p>$6.770
                    <br>
                    40% OFF
                    <br>
                </p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <div><img class="cafetera-imagen" src="/images/img-macbook-pro-2019.jpg" alt="cafetera"></div>
                <p>$230.000
                    <br>
                    20% off
                    <br>
                </p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <div><img class="cafetera-imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera"></div>
                <p>$70.500
                    <br>
                    10% off
                    <br>
                </p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <div><img class="cafetera-imagen" src="/images/img-tv-samsung-smart.jpg" alt="cafetera"></div>
                <p>$23.200
                    <br>
                    5% off
                    <br>
                </p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>
    <br><br>
    <footer>
<section>
    <article>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <br>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>
    </article>
</section>
<br>
<section>
    <article>
        <h3>Envío gratis desde $ 2.500</h3>
        <br>
<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>
    </article>
</section>
<br>
<section>
    <article>
        <h3>Seguridad, de principio a fin</h3>
        <br>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.
    </article>
</section>
<br>
<section>
    <b><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></b>
</section>
    </footer>
</body>

</html>